robotframework==7.4.2
robotframework-requests==0.9.7
robotframework-seleniumlibrary==6.9.0
robotframework-sudslibrary-aljcalandra==1.1.4
requests==2.34.2
selenium==4.44.0
python-dateutil>=2.9.0.post0
pandas>=3.0.3
zipp>=4.1.0 # not directly required, pinned by Snyk to avoid a vulnerability
