robotframework==7.4.2
robotframework-requests==0.9.7
robotframework-seleniumlibrary==6.8.0
robotframework-sudslibrary-aljcalandra==1.1.4
requests==2.33.1
selenium==4.43.0
python-dateutil>=2.9.0.post0
pandas>=3.0.2
zipp>=3.23.1 # not directly required, pinned by Snyk to avoid a vulnerability
